memory:
clock rate: 7501 Mhz
bandwidth: 192 bit
L2 cache size: 3 MB
L1 cache size: 128 KB (per SM)

global_latency: (871 + 29) cycle (波动)
L2 latency: (491 + 29) cycle (波动)
L1.5 latency: (201 + 29) cycle (波动)
L1 latency: (20 + 29) cycle 
Read-Only data Latency: 18 cycle (hit) 200 cycle (miss)
shared_mem_latency: 29 cycle

ops:
"mma.sync.aligned.m16n8k4.row.col.f32.tf32.tf32.f32" 19 16
"mma.sync.aligned.m16n8k8.row.col.f32.tf32.tf32.f32" 33 32
wmma.sync.aligned.m16n16k8.row.col.f32.tf32.tf32.f32 64 64
int div 10 8